.dark-high-contrast {
  --md-sys-color-primary: rgb(194 255 202);
  --md-sys-color-surface-tint: rgb(153 212 162);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(149 208 159);
  --md-sys-color-on-primary-container: rgb(0 15 3);
  --md-sys-color-secondary: rgb(224 246 223);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(179 200 179);
  --md-sys-color-on-secondary-container: rgb(1 14 4);
  --md-sys-color-tertiary: rgb(210 246 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(158 202 212);
  --md-sys-color-on-tertiary-container: rgb(0 13 17);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(235 242 231);
  --md-sys-color-outline-variant: rgb(189 197 187);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(26 82 44);
  --md-sys-color-primary-fixed: rgb(180 241 189);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(153 212 162);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 6);
  --md-sys-color-secondary-fixed: rgb(211 232 210);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(183 204 183);
  --md-sys-color-on-secondary-fixed-variant: rgb(4 21 8);
  --md-sys-color-tertiary-fixed: rgb(189 234 245);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 216);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 24);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(76 81 76);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 33 28);
  --md-sys-color-surface-container: rgb(45 50 44);
  --md-sys-color-surface-container-high: rgb(56 61 55);
  --md-sys-color-surface-container-highest: rgb(67 72 66);
}
