.dark-medium-contrast {
  --md-sys-color-primary: rgb(174 235 183);
  --md-sys-color-surface-tint: rgb(153 212 162);
  --md-sys-color-on-primary: rgb(0 45 17);
  --md-sys-color-primary-container: rgb(101 157 112);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(205 226 204);
  --md-sys-color-on-secondary: rgb(24 41 27);
  --md-sys-color-secondary-container: rgb(130 150 131);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(183 228 238);
  --md-sys-color-on-tertiary: rgb(0 42 49);
  --md-sys-color-tertiary-container: rgb(108 152 161);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 223 212);
  --md-sys-color-outline: rgb(172 180 170);
  --md-sys-color-outline-variant: rgb(139 146 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(26 82 44);
  --md-sys-color-primary-fixed: rgb(180 241 189);
  --md-sys-color-on-primary-fixed: rgb(0 21 6);
  --md-sys-color-primary-fixed-dim: rgb(153 212 162);
  --md-sys-color-on-primary-fixed-variant: rgb(0 64 27);
  --md-sys-color-secondary-fixed: rgb(211 232 210);
  --md-sys-color-on-secondary-fixed: rgb(4 21 8);
  --md-sys-color-secondary-fixed-dim: rgb(183 204 183);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 58 43);
  --md-sys-color-tertiary-fixed: rgb(189 234 245);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 24);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 216);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 60 68);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 47);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
}
